@import "../../assets/variables.css";

.badge {
    display: inline-flex;
    align-items: center;
    padding: var(--formkit-lite-space-sm) var(--formkit-lite-space-md);
    border-radius: var(--formkit-lite-radius-lg);
    font-size: var(--formkit-lite-font-size);
}

.badge--clickable {
    cursor: pointer;
}

.badge__icon {
    width: 20px;
    height: 20px;
    margin: 0 var(--formkit-lite-space-xs);
}

.badge__remove {
    margin-left: var(--formkit-lite-space-md);
    background: none;
    border: none;
    cursor: pointer;
}

.badge__remove-icon {
    width: 16px;
    height: 16px;
}

/* Variants */
.badge--light {
    background-color: var(--formkit-lite-color-light);
    color: var(--formkit-lite-text-light);
}

.badge--light:hover {
    background-color: #e6eaef;
}

.badge--dark,
.badge--light.badge--selected {
    background-color: var(--formkit-lite-color-dark);
    color: var(--formkit-lite-text-dark);
}

.badge--dark:hover {
    background-color: #1f2538;
}

.badge--success {
    background-color: var(--formkit-lite-color-success);
    color: var(--formkit-lite-text-dark);
}

.badge--success:hover {
    background-color: #11b377;
}

.badge--danger {
    background-color: var(--formkit-lite-color-danger);
    color: var(--formkit-lite-text-dark);
}

.badge--danger:hover {
    background-color: #ce3b2f;
}

.badge--warning {
    background-color: var(--formkit-lite-color-warning);
    color: var(--formkit-lite-text-dark);
}

.badge--warning:hover {
    background-color: #e69534;
}

.badge--info {
    background-color: var(--formkit-lite-color-info);
    color: var(--formkit-lite-text-dark);
}

.badge--info:hover {
    background-color: #2874f0;
}

.badge--primary {
    background-color: var(--formkit-lite-color-primary);
    color: var(--formkit-lite-text-dark);
}

.badge--primary:hover {
    background-color: #833ac1;
}

.badge--black {
    background-color: var(--formkit-lite-color-black);
    color: var(--formkit-lite-text-dark);
}

.badge--black:hover {
    background-color: #111;
}

/* Remove button states */
.badge__remove--light {
    color: var(--formkit-lite-color-light3);
}

.badge__remove--light:hover {
    color: var(--formkit-lite-color-light2);
}

.badge__remove--dark {
    color: var(--formkit-lite-text-dark);
}

.badge__remove--dark:hover {
    color: var(--formkit-lite-color-light3);
}