@import "../../assets/variables.css";

.date-field {
    display: block;
}

.date-field--full {
    flex: 1;
}

.date-field__label {
    display: block;
    padding-bottom: var(--formkit-lite-space-sm);
    font-weight: 600;
    color: var(--formkit-lite-color-dark);
}

.date-field__required {
    margin-left: var(--formkit-lite-space-sm);
    color: var(--formkit-lite-color-danger);
}

.date-field__wrapper {
    position: relative;
    display: flex;
}

.date-field__input {
    display: block;
    width: 100%;
    padding: var(--formkit-lite-space-md) var(--formkit-lite-space-lg);
    font-size: var(--formkit-lite-font-size);
    border-radius: var(--formkit-lite-radius-lg);
    border: 1px solid var(--formkit-lite-color-light2);
    color: var(--formkit-lite-text-light);
    background-color: white;
    appearance: none;
    outline: none;
    transition: border-color 0.2s ease, box-shadow 0.2s ease;
}

.date-field__input::placeholder {
    color: var(--formkit-lite-color-light3);
}

.date-field__input--error {
    border-color: var(--formkit-lite-color-danger);
}

.date-field__input--error:focus {
    box-shadow: 0 0 0 1px var(--formkit-lite-color-danger);
}

.date-field__input--valid {
    border-color: var(--formkit-lite-color-light2);
}

.date-field__input--valid:focus {
    box-shadow: 0 0 0 1px var(--formkit-lite-color-success);
}

.date-field__reset-button {
    position: absolute;
    top: var(--formkit-lite-space-md);
    right: var(--formkit-lite-space-xl);
    width: 24px;
    height: 24px;
    cursor: pointer;
    z-index: 10;
    background: none;
    border: none;
    padding: 0;
}

.date-field__reset-icon {
    color: var(--formkit-lite-color-light3);
}

.date-field__error {
    display: block;
    padding-top: var(--formkit-lite-space-md);
    font-size: 12px;
    color: var(--formkit-lite-color-danger);
}

.date-field__help {
    display: block;
    padding-top: var(--formkit-lite-space-md);
    font-size: 12px;
    color: var(--formkit-lite-color-light3);
}
